body {
    background-color: #1E3040;
    color: #D0ECF2;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header, section, aside, footer {
    text-align: center;
    background-color: #657D8C;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 0;
}

.intro {
    font-size: 30px;
}

#main {
    margin-left: -15px;
}

#main img {
	width: 80%;
	margin: 15px 0;
}

a {
    color: #9AC7D9;
}

a:hover {
    color: #D99771;
}

.charteGraphique {
    color: #1E3040; /* fond */
    color: #657D8C; /* block */
    color: #9AC7D9; /* font */
    color: #D0ECF2; /* clair */
    color: #D99771; /* beige */
}